
body{
    margin:0;
}
.parent{
    width: 100%;
}
.sub-parent{
    height: 500px;
    background-color: black;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;

}
.set{
    height: 200px;
    width: 15%;
    background-color: red;
}
.sub-parent1{
    margin-top: 50px;
    height:500px;
    background-color: gray;
}
.new{
    width:20%;
    height: 200px;
    background-color: blue;
    display: inline-block;
    margin:155px 0px 125px 4%;
    
}